<div class="home-page">
  <h1><%= ApplicationController::Sitename %></h1>

  <div class="inner-page">
    <h2>List of books in this study</h2>
    <ul>
      <% @books.each do |book| %>
        <li><%= book.title %> by <%= book.author %>, <%= book.published_year %></li>
      <% end %>
    </ul>
  </div>
</div>
