<div class="one-book">

    <h2><span class="title"><%= @book.title %></span>, by <span class="author"><%= @book.author %></span></h2>

    <div class="vertical-graph-container">
      <div class="vertical-graph">
      </div>
      <div class="annotation">
      </div>
    </div>

</div>
