
@font-face {
    font-family: 'kaffeesatz-regular';
    src: font_url('YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'kaffeesatz-bold';
    src: font_url('YanoneKaffeesatz-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'kaffeesatz-light';
    src: font_url('YanoneKaffeesatz-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'kaffeesatz-extralight';
    src: font_url('YanoneKaffeesatz-ExtraLight.ttf') format('truetype');
}

