
body {
  background-color: $bg-color;
  width: 100%;
  overflow-x: hidden;
}

.page-container {
  position: relative;
  top: 30px;
  color: $decorate-color;

  h1 {
    margin: 12px 35px;
  }

  .title {
    color: $title-text-color;

    a {
      color: $title-link-color;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $title-hover-color;
      }
    }
  }

  #home-page-content {
    font-family: 'kaffeesatz-regular';
    font-size: 100%;
    margin: 40px 120px;

    .home-left {
      ul {
          line-height: 2.2;
          list-style-type: none;
      }
    }
    .column {
      display: block;
      width: 50%;
      float: left;
    }

    .column > * {
      padding: 0 20px;
    }
    .column h2 {
      font-size: 1.5em;
      font-weight: bold;
    }

  }

  .books-page {
    font-family: 'kaffeesatz-regular';

    h2 {
      margin-left: 44px;
    }

    .book-item {
      margin-top: 30px;
      margin-left: 8px;

      .book-title {
        margin-left: 40px;
        margin-bottom: 0;
        font-size: 120%;
      }

      .row {
        margin-bottom: 36px;
        width: 100%;

        .chapter {
          float: left;
          display: table;
          margin-top: 0px;
          margin-left: 2px;
          width: 32px;
          height: 90px;

          p {
            display: table-cell; 
            vertical-align: middle; 
            font-family: Helvetica, sans-serif;
            font-size: 150%;
            text-align: right; 
            padding-right: 2px;
          }
        }

        .graph {
          float: left;
          margin-left: 2px;

          height: 90px;
          width: 90%;
          background-color: #303030;
        }

        .clearfix {
          clear: both;
        }
      }

    }
  }

  #book-detail-content {
    font-family: 'kaffeesatz-regular';
    .header {
      margin-left: 20px;
      margin-bottom: 30px;
      line-height: 1.0;
      h2 {
        display: block;
      }
      .number-of-chapters {
        margin: 0;
      }
    }


  }

}

#back-text {
  position: fixed;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  /* visibility: hidden; */
  color: #242424;
  width: 300%;
  margin-left: -5.0em;
  line-height: 1.1;
  font-size: 600%;
  font-family: 'kaffeesatz-regular';
}

