
body {
  background-color: $bg-color;
}

.page-container {
  position: relative;
  top: 30px;
  color: $decorate-color;

  h1 {
    margin: 12px 35px;
  }

  .home-page {

    margin-top: 90px;
    margin-left: 2.0em;
    font-family: 'kaffeesatz-regular';
    font-size: 100%;

    .home-left {
      float: left;
      width: 40%;

      margin-top: 0px;
      margin-left: 2.0em;

      h2 {
        margin-left: 1.8em;
        margin-bottom: 36px;
      }
      li {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 2.2;
        a {
          color: white;
          text-decoration: none;
        }
      }

    }

    .home-right {
      float: left;
      width: 40%;
      margin-top: 12px;
      margin-left: 2.0em;
    }

  }

  .books-page {
    font-family: 'kaffeesatz-regular';

    .book-item {
      margin-top: 30px;
      margin-left: 8px;

      .book-title {
        margin-left: 42px;
        margin-bottom: 2px;
      }

      .row {
        margin-bottom: 36px;
        width: 100%;
        border: 1px dashed red;

        .chapter {
          display: inline-block;
          margin-top: 0;
          margin-left: 2px;
          width: 32px;
          height: 90px;
          border: 1px solid yellow;
        }

        .graph {
          margin-left: 2px;
          display: inline-block;

          height: 90px;
          width: 90%;
          background-color: #404040;
        }
      }

    }
  }

}

#back-text {
  position: absolute;
  bottom: 0;
  z-index: -1;
  /* visibility: hidden; */
  color: #242424;
  width: 380%;
  margin-left: -5.0em;
  line-height: 1.1;
  font-size: 600%;
  font-family: 'kaffeesatz-regular';
}

