
body {
  background-color: $bg-color;
}

.page-container {
  position: relative;
  top: 30px;
  color: $decorate-color;

  h1 {
    margin: 12px 35px;
  }

  .home-page {
    margin-top: 60px;
    margin-left: 2.0em;
    font-family: 'kaffeesatz-regular';
    font-size: 100%;

    .inner-page {
      margin-top: 70px;
      margin-left: 3.0em;

      h2 {
        margin-left: 1.8em;
        margin-bottom: 36px;
      }
      li {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 2.2;
        a {
          color: white;
          text-decoration: none;
        }
      }

    }
  }
}

#back-text {
  position: absolute;
  top: 0;
  z-index: -1;
  /* visibility: hidden; */
  color: #242424;
  width: 380%;
  margin-left: -5.0em;
  line-height: 1.1;
  font-size: 600%;
  /*font-family: 'kaffeesatz-regular'; */
}

